


        <!-- REGISTER FORM -->

        <div class="main-page">
          <div class="wrap">
            <div class="logo">
              <img src="assets/images/logo1.svg" class="light-mode-logo" alt="" title="">
              <!-- <img src="assets/images/logo2.svg" class="dark-mode-logo" alt="" title=""> -->
            </div>
            <div class="main-area">
              <h1>Register</h1>
              <form
                class="list"
                [formGroup]="authService.formView.register"
                (ngSubmit)="authService.onSubmit(authService.formView.register,'register')">

                <ul>
                  <li class="item-content item-input">
                    <div class="item-inner">
                      <div class="item-input-wrap">
                        <input
                          formControlName="username"
                          type="text"
                          placeholder="User Name">

                        <i class="bi bi-person"></i>
                      </div>
                    </div>
                  </li>

                  <li class="item-content item-input">
                    <div class="item-inner">
                      <div class="item-input-wrap">

                        <input
                          formControlName='email'
                          type="email"
                          placeholder="Email Address">
                          <i class="bi bi-envelope"></i>
                      </div>
                    </div>
                  </li>

                  <li class="item-content item-input">
                    <div class="item-inner">
                      <div class="item-input-wrap">

                        <input
                          formControlName="password"
                          [type]="authService.showPassword ? 'text' : 'password'"
                          placeholder="Password"
                          autocomplete='password'
                          >
                          <i class="bi"
                            [ngClass]="authService.showPassword ? 'bi-eye-slash' : 'bi-eye'"
                            (click)="authService.togglePassword()">
                          </i>

                      </div>
                    </div>
                  </li>

                  <li class="item-content item-input">
                    <div class="item-inner">
                      <div class="item-input-wrap">

                        <input
                          formControlName="confirm_password"
                          [type]="authService.showPassword ? 'text' : 'password'"
                          placeholder="Retype password"
                          autocomplete='password'
                          >
                          <i class="bi"
                            [ngClass]="authService.showPassword ? 'bi-eye-slash' : 'bi-eye'"
                            (click)="authService.togglePassword()">
                          </i>

                      </div>
                    </div>
                  </li>

                  <!-- PASSWORD REQUIREMENTS -->
                    <div class="password-requirements">

                      <div [class.valid]="hasMinimumLength">

                        <i
                          [class]="hasMinimumLength
                            ? 'bi bi-check-circle-fill'
                            : 'bi bi-circle'">
                        </i>

                        At least {{maxChars}} characters

                      </div>


                      <!-- <div [class.valid]="hasNumber">

                        <i
                          [class]="hasNumber
                            ? 'bi bi-check-circle-fill'
                            : 'bi bi-circle'">
                        </i>

                        Contains a number

                      </div> -->


                      <!-- <div [class.valid]="hasLetter">

                        <i
                          [class]="hasLetter
                            ? 'bi bi-check-circle-fill'
                            : 'bi bi-circle'">
                        </i>

                        Contains a letter

                      </div> -->


                      <div [class.valid]="passwordsMatch">

                        <i
                          [class]="passwordsMatch
                            ? 'bi bi-check-circle-fill'
                            : 'bi bi-circle'">
                        </i>

                        Passwords match

                      </div>

                    </div>


                </ul>
                <div class="signup">
                  <button
                    type="submit"
                    class="list-button"
                    title="join"
                    [disabled]="authService.formView.register.invalid">

                    Register

                  </button>
                  <div class="signin-up or-text">or</div>
                </div>
                <div class="login-social">

                  <button type="button" class="google-login-btn" (click)="authService.loginWithGoogle()">
                    <svg width="20" height="20" viewBox="0 0 48 48" aria-hidden="true">
                      <path fill="#FFC107" d="M43.6 20.5H42V20H24v8h11.3A12 12 0 1 1 24 12c3.1 0 5.9 1.2 8 3.1l5.7-5.7A19.9 19.9 0 1 0 44 24c0-1.2-.1-2.4-.4-3.5z"/>
                      <path fill="#FF3D00" d="M6.3 14.7l6.6 4.8A12 12 0 0 1 24 12c3.1 0 5.9 1.2 8 3.1l5.7-5.7A20 20 0 0 0 6.3 14.7z"/>
                      <path fill="#4CAF50" d="M24 44c5.2 0 10-2 13.5-5.2l-6.2-5.2A11.9 11.9 0 0 1 12.9 28.4l-6.5 5A20 20 0 0 0 24 44z"/>
                      <path fill="#1976D2" d="M43.6 20.5H42V20H24v8h11.3a12 12 0 0 1-4 5.6l6.2 5.2C41.3 35.3 44 30.2 44 24c0-1.2-.1-2.4-.4-3.5z"/>
                    </svg>

                    <span>Continue with Google</span>
                  </button>
                </div>
              </form>
            </div>
            <div class="login-footer">
              <p>Already have an account?</p>
              <span class="log-title" (click)="authService.mode='login'" >Log In</span>
            </div>
          </div>
        </div>
