<!-- ================= HERO ================= -->

<section class="auth-hero">

    <!-- stadium glow -->
    <div class="stadium-glow"></div>

    <!-- footballer -->
    <img
        class="hero-player"
        src="assets/img/auth.png"
        alt=""
    >

    <!-- dark gradient over player -->
    <div class="hero-overlay"></div>


    <div class="hero-content">

        <!-- LOGO -->

      <div class="hero-container">
        <div class="brand">

          <div class="">
            <img
                src="assets/img/logo.svg"
                alt="PHO"
            >
          </div>

            <!-- <div>
                <strong>PHO</strong>
                <span>FOOTBALL BETTING</span>
            </div> -->

        </div>

        <app-language>
          </app-language>
      </div>


        <!-- HERO TEXT -->

        <div class="hero-copy">

            <span class="hero-small">
                JOIN PHO
            </span>

            <h1>
                WIN MORE.
                <span>EARN MORE.</span>
            </h1>

            <p>
                Create your account and start your
                winning and investent journey today.
            </p>

        </div>


        <!-- BONUS -->

        <div class="bonus-card">

            <div class="bonus-icon">
                <i class="bi bi-gift"></i>
            </div>

            <div>

                <strong>WELCOME BONUS</strong>

                <span>
                    Get up to
                    <b>$3</b>
                    instantly
                </span>

            </div>

        </div>

    </div>

</section>
