<!-- Reset FORM -->
<div class="main-page">
  <div class="wrap">
      <div class="logo">
        <img src="assets/images/logo.png" class="light-mode-logo" alt="" title="">
      </div>
      <div class="auth-heading">
        <span class="auth-badge">RESET ACCOUNT</span>
      </div>
      <div class="main-area">

        <form
          class="list"
          [formGroup]="authService.formView.reset"
          (ngSubmit)="authService.onSubmit(authService.formView.reset,'reset')">

          <ul>
            <!-- EMAIL -->
            <li class="item-content item-input">
              <div class="item-inner">
                <div class="item-input-wrap">

                  <input
                    formControlName='email'
                    type="email"
                    placeholder="Email Address">
                    <i class="bi bi-envelope"></i>
                </div>
              </div>
            </li>

            <div class="signup">
              <button
                type="submit"
                class="list-button"
                title=""
                [disabled]="authService.formView.reset.invalid">
                RESET
              </button>
            </div>

            <div class="login-footer" >
              <p>Continue to account?</p>
              <span class="log-title" (click)="authService.mode='login'" >Login</span>
            </div>
          </ul>

        </form>
      </div>
  </div>
</div>
